<div id='fileInterface'>
    <form method="POST" action="/frame" encType='multipart/form-data'>
        <fieldset>

            <div class="form-group">
                <label for='file' style='color:black'>Only works with javascript for now</label>
                <input type='file' name='file' id='file' class='btn btn-outline-success' accept="image/*">
            </div>
        </fieldset>
        <!-- BUTTON -->
        <div class="form-group">
            <button id='convert' class="btn btn-primary" type="submit" onclick='loading()'>Convert</button>
        </div>
    </form>
</div>
