<div class="row" id='fileInterface'>
    <form method="POST" class="form-style col-sm-4" action="/frame" encType='multipart/form-data'>
        <fieldset>
                <div style='display:block'>
                    <div class="form-group">
                        <label for="file">Upload</label>
                        <input type='file' name='file' id='file' class='form-control' accept="image/*">
                    </div>
                </div>
        </fieldset>
        <!-- BUTTON -->
        <div class="form-group">
            <button class="btn btn-primary" type="submit" onclick='setStatus()'>Convert</button>
        </div>
    </form>
</div>
