<div class='footer'>
    <p>This is a prototype site!  It's still being developed and definitely not
       ready for production yet.  If you're a recruiter, you can contact me
       at dylan.finn@students.makeschool.com</p>

    <a href='github.com/dy-fi'>Github</a>
    <a href='https://www.linkedin.com/in/dylan-finn-a36b9614b/'>LinkedIn</a>
</div>
