<nav class='navbar navbar-light bg-faded'>
    <a href='/'><h1 class='navbar-brand mb-0'>CodeSnatch</h1></a>

    <ul class="nav navbar-nav navbar-right">
        {{#if currentUser}}
            <small>Hi, {{currentUser.username}}</small>
            <li><a href="/logout">Logout</a></li>
        {{/if}}
    </ul>
</nav>
