<nav class='navbar navbar-light bg-faded'>
    <a href='/'><h1 class='navbar-brand mb-0'>CodeSnatch</h1></a>
    <ul class="nav navbar-nav">
        {{#if currentUser}}
            <div class="btn-group dropright">
                <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                    Hi, {{currentUser.username}}
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/users/{{currentUser._id}}">Profile</a>
                    <a class="dropdown-item" href="/logout">Log Out</a>
                </div>
            </div>
        {{else}}
            <p>
                <a href="/login"><button class="btn btn-info">Log in</button></a>
                <a href="/sign-up"><button class="btn btn-success">Sign Up</button></a>
            </p>
        {{/if}}
    </ul>
</nav>
