<nav class='navbar navbar-light bg-faded'>
    <a href='/'><h1 class='navbar-brand mb-0'>CodeSnatch</h1></a>
    <ul class="nav navbar-nav">
        {{#if currentUser}}
            <small>Hi, {{currentUser.username}}</small>
            <li class='nav-item'><a href="/logout">Logout</a></li>
        {{else}}
            <p>
                <a href="/login"><button class="btn btn-info">Log in</button></a>
                <a href="/sign-up"><button class="btn btn-success">Sign Up</button></a>
            </p>
        {{/if}}
    </ul>
</nav>
