<div class='row'>
    <form method='POST' action='#' class='form-style col-sm-6' id='snip-new'>
        <input type='hidden' name='text' value='{{text}}' required>
        <input type='hidden' name='evaluation' value='{{evaluation}}' required>

        <label for='title'>Title</label>
        <input type='text' class='form-control' name='title' value='title'></input>

        <label for='description'>Description</label>
        <textarea type='text' class='form-control' type='text' name='description' value='{{snip.description}}'></textarea>

        <br>
        <!-- SUBMIT -->
        <div class='form-group'>
            <button class='btn btn-primary' type='submit'>Save snip</button>
        </div>
    </form>
</div>
