<div class='row'>
    <form method='POST' action='/snip' class='form-style col-sm-6'>
        <input type='hidden' name='text' value='{{text}}'>
        <input type='hidden' name='evaluation' value='{{evaluation}}'>

        <label for='title'>Title (optional) </label>
        <input type='text' class='form-control' name='title' value='title'></input>

        <label for='description'>Description (optional)</label>
        <textarea type='text' class='form-control' type='text' name='description' value='{{snip.description}}'></textarea>

        <br>
        <!-- SUBMIT -->
        <div class='form-group'>
            <button class='btn btn-primary' type='submit'>Save snip</button>
        </div>
    </form>
</div>
