<div class='btn-group btn-group-toggle' data-toggle='buttons' id='interfaceToggle'>
    <label class='btn btn-secondary active' onclick='showFile()'>
        <input type='radio' name='options' id='file' autocomplete='off'  checked> File
    </label>
    <label class='btn btn-secondary' onclick='showPicture()'>
        <input type='radio' name='options' id='picture' autocomplete='off'> Picture
    </label>
</div>

<br>

{{>file-form}}

<div class='row' id='pictureInterface' style='display:none'>
    <div class="col-sm-4" >
        <h2>picture interface here</h2>
    </div>
</div>

{{#if status}}
    <h4 id='status'>Status: Done</h4>
{{else}}
    <h4 id='status'>Status: </h4>
{{/if}}

{{#if text}}
    <h3>This is what we got from the image: </h3>
    <p id='text-body' onload='formatText()'>{{text}}</p>
{{/if}}

{{#if evaluation}}
    <p id='code-body'>{{evaluation}}</p>
{{/if}}
