<!-- Upload navbar -->

<div class='output'>
    {{#if text}}
        <h3>This is what we got from the image: </h3>

        <div id='text-body'>
            <textarea cols='50' rows='4' readonly>{{text}}</textarea>
        </div>
        <br>
    {{/if}}

    {{#if evaluation}}
        <h3>Evaluates to: </h3><br>
        <div id='code-body'>
            <code><textarea cols='50' rows = '4' readonly>{{evaluation}}</textarea></code>
        </div>
    {{/if}}
</div>

{{#if currentUser}}
    <br>
    {{>snip-form}}
{{else}}
    <br>
    <div class='alert alert-light' role='alert'>
        Hey! Yea YOU! You would have had the option to save this if you just signed up :\
        No worries though, you can take care of that <a href='/sign-up' class='alert-link'> right here!</a>
    </div>
{{/if}}
