<div class='row'>

    <div class='col-sm-4'>
        <img src='./resources/camera_icon.png' alt='image not available'>
    </div>

    <div class='col-md-4 offset-md-2 title-banner'>
        <h1 id='title'><a>CodeSnatch</a></h1>
        <p>Write code anywhere... and run it too</p>
        <span id='typed-title'></span>

        {{>file-form}}
    </div>
</div>

<script src='https://cdn.jsdelivr.net/npm/typed.js@2.0.9'></script>
<script>
  var typed = new Typed('#typed-title', {
    stringsElement: '#title',
    typeSpeed: 100,
    showCursor: false,
  });
</script>
