<h1>CodeSnatch</h1></hr>
<p>Write code anywhere... and run it too</p>

<a href="/sign-up"><button class="btn btn-success">Sign Up</button></a>
<a href="/frame"><button class="btn btn-primary">Snatch</button></a>
