body {
    background-color: #3074B7;
}

.title-banner {
    color: #FFDA29;
}

.title-banner h1 {
    font-size: 48px;
}

.container {
    padding-top: 10%;
}

.output textarea {
    resize: none;
    border-left: 6px solid red;
    background-color: lightgrey;
}

#typed-title {
    font-family: 'Source Code Pro', monospace;
    font-size: 48px;
}

#fileInterface {
    padding-top: 40px;
    margin-top: 30%;
}

#title-display {
    position: absolute;
}

.title-banner p {
    position: absolute;
    height: auto;
    margin-top: 17%;

}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: 6F42FF;
  text-align: center;
  font-size: 12px;
}

.footer a {
    color: #FFDA29;
    margin: auto;
    text-align: center;
}

.alert {
    margin: auto;
}
