body {
    background-color: #3074B7;
}

.container {
    padding-top: 10%;
}

.title-banner {
    color: #FFDA29;
}

.title-banner h1 {
    font-size: 48px;
}

.title-banner p {
    position: absolute;
    height: auto;
    margin-top: 17%;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .title-banner {
        text-align: center;
    }
    .title-banner p {
        padding-left: 3em;
    }
}

.output textarea {
    resize: none;
    border-left: 6px solid red;
    background-color: lightgrey;
}

.footer {
  bottom: 0;
  width: 100%;
  color: 6F42FF;
  text-align: center;
  font-size: 12px;
  margin-top: 30%;
}

.footer a {
    color: #FFDA29;
    text-align: center;
    bottom: 3;
    margin: auto;
}

.alert {
    margin: auto;
}

#dropdownMenuButton {
    position: sticky;
}

#github-button {
    width: 200px;
    height: 200px;
    border: 2px solid;
    border-radius: 5px;
    margin-left: 4em;
}

#typed-title {
    font-family: 'Source Code Pro', monospace;
    font-size: 48px;
}

#fileInterface {
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
}

#title-display {
    position: absolute;
    margin: auto;
}
